@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

table#ban {
  background-color: darkgreen;
  border-collapse: collapse;
  border:2px solid black;
}
table#ban tr td {
  border:2px solid black;
}

button {
 font-size:large;
}